/* @import "./reset.css"; */
* {
  margin: 0;
  padding: 0;
  font-family: "Trispace", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.wrapper.playlist {
  background-color: lightblue;
  width: 200px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  /* 그림자 */
}
/* top start */
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.top .texts {
  margin-bottom: 3px;
}
.top .texts .big {
  font-size: 16px;
  color: black;
  width: 50;
}
.top .texts .small {
  font-size: 12px;
  color: gray;
  width: 70px;
}
.top .buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  /* align-items: center; */
}
.button.playlist.shuffle,
.button.playlist.heart {
  width: 70px;
  height: 20px;
  text-align: center;
  border-radius: 15px;
  color: white;
}
.button.playlist.shuffle {
  background-color: black;
}
.button.playlist.shuffle h3,
.button.playlist.heart h3 {
  font-size: 10px;
  margin-top: 5px;
}
.button.playlist.heart {
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

/* middle start */
.playlist.middle {
  background-color: lightgreen;
}
.container {
  display: flex;
}
/* bottom start */
.playlist.bottom {
  background-color: lightskyblue;
  height: 50px;
}
