* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: white;
}
.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid navy;
  background: linear-gradient(35deg, #ead2ad, #f2ead0, #bdc0fb, #93b7fa);
  width: 300px;
  height: 450px;
  padding-top: 10px;
  padding-left: 15px;
}
/*-----------------header-end----------------*/
.header {
  display: flex;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.close {
  text-align: center;
  margin: 3px;
}
.text {
  height: auto;
  flex: 1;
}
.text.playlist {
  margin-left: 70px;
}
/*-----------------top-end----------------*/
.top {
  display: flex;
}
.b.square {
  background-color: white;
  width: 80px;
  height: 80px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.material-symbols-outlined.image {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  flex: 1;
}
.big.text {
  font-size: 30px;
  font-weight: 10px;
}
.small.text {
  font-size: 13px;
}
/*-----------------middle-----------------*/
.middle {
  display: flex;
  justify-content: space-around;
}
.long.square {
  background-color: #b4d1de;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  position: relative;
}
.long.square,
.circle {
  box-shadow: -1.5px 1.5px black;
  display: flex;
  position: relative;
}
.material-symbols-outlined.play {
  transform: translate(-100%, -50%);
}
.text.play {
  transform: translate(-15%, -50%);
}
.material-symbols-outlined.play,
.text.play {
  position: absolute;
  top: 50%;
  left: 50%;
}

.circle {
  position: relative;
  background: #b4d1de;
  border-radius: 50%;
  border: 1.5px solid black;
  width: 40px;
  height: 40px;
}
.material-symbols-outlined.favorite,
.material-symbols-outlined.add {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*-----------------bottom-----------------*/
.bottom {
  /*border: 1px solid red;*/
  width: 250px;
  height: 250px;
  margin-top: 15px;
}
.matargasti,
.attitude,
.try,
.sunflower {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}
/*.square {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 15px;
}*/
.square {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.matargasti.square {
  background-color: #ffffe0;
}
.attitude.square {
  background-color: #afeeee;
}
.try.square {
  background-color: #5f9ea0;
}
.sunflower.square {
  background-color: #2f4f4f;
}
.gray {
  color: gray;
}
