html,
body {
  margin: 0;
  padding: 0;
}
h1,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
#main {
  background: url(./bg-img.jpeg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  font-family: "Questrial", sans-serif;
}
#contents {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%; /* 시작점이 50% 지점이라는거지 전체가 중앙이다!는 아님 */
  transform: translateY(-50%);
}
#contents h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  margin-bottom: 16px;
}
#contents p {
  font-size: 23px;
  margin-bottom: 16px;
}
#contents a {
  display: inline-block;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.5s;
}
#contents a:hover {
  background-color: gray;
}
@media (max-width: 769px) {
  #contents h1 {
    font-size: 50px;
  }
  #contents p {
    font-size: 20px;
  }
  #contents a {
    font-size: 14px;
  }
}
